<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
    <title>CFB PickEm</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
    <script src="/javascripts/scripts.js"></script>
  </head>
  <body style="padding-top:0;padding-left:0;padding-right:0;font-family: 'Roboto Slab', serif;">

      <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark main-nav navbar-expand" id="mobile">
        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item active" style="padding-top:5px;border-right:1px solid gray;width:65px;">
              <a href="/" class="nav-link" style="padding:0;">
                <i class="material-icons" style="color:gray;padding:0 20px 0 20px">create</i>
                <span class="nav-link" href="/" style="padding:0 5px 0 5px;font-size:14px;">PickEm</span>
              </a>
            </li>
            <li class="nav-item" style="padding-top:5px;border-right:1px solid gray;width:65px;">
              <a href="/view-picks" class="nav-link" style="padding:0;">
                <i class="material-icons" style="color:gray;padding:0 20px 0 20px">ballot</i>
                <span class="nav-link" style="padding:0 15px 0 15px;font-size:14px;">Picks</span>
              </a>
            </li>
            <li class="nav-item" style="border-right:1px solid gray;">
              <a href="/" class="nav-link" style="padding:0;">
                <span class="nav-link" href="/" style="padding-top:4px;padding-left:12px;padding-right:12px;font-size:32px;font-family:Collegiate;width:80px;">CFB</span>
              </a>
            </li>
            <li class="nav-item" style="padding-top:5px;border-right:1px solid gray;width:65px;">
              <a class="nav-link" href="/ranks" style="padding:0;">
                <i class="material-icons" style="color:gray;padding:0 18px 0 18px">emoji_events</i>
                <span class="nav-link" style="padding:0 10px 0 10px;font-size:14px;">Ranks</span>
              </a>
            </li>
            <li class="nav-item" style="padding-top:5px;width:65px;">
              <a class="nav-link" href="/account" style="padding:0;width:100px;">
                <i class="material-icons" style="color:white;padding:0 22px 0 22px">account_circle</i>
                <span class="nav-link" style="padding:0 8px 0 8px;font-size:14px;color:white;">Account</span>
              </a>
            </li>
        </ul>
      </nav>
      <nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav" id="desktop">
        <ul class="nav navbar-nav mx-auto">

            <li class="nav-item active" style="padding-top:12px;border-right:1px solid gray;width:100px;">
              <a href="/" class="nav-link" style="padding:0;">
                <i class="material-icons" style="color:gray;padding:0 40px 0 40px">create</i>
                <span class="nav-link" href="/" style="padding:0 20px 0 20px;">PickEm</span>
              </a>
            </li>
            <li class="nav-item" style="padding-top:12px;border-right:1px solid gray;width:100px;">
              <a href="/view-picks" class="nav-link" style="padding:0;">
                <i class="material-icons" style="color:gray;padding:0 37px 0 37px">ballot</i>
                <span class="nav-link" style="padding:0 28px 0 28px;">Picks</span>
              </a>
            </li>
            <li class="nav-item" style="border-right:1px solid gray;">
              <a href="/" class="nav-link" style="padding:0;">
                <span class="nav-link" href="/" style="padding-top:0px;padding-left:30px;padding-right:30px;font-size:48px;font-family:Collegiate;">CFB</span>
              </a>
            </li>
            <li class="nav-item" style="padding-top:12px;border-right:1px solid gray;width:100px;">
              <a class="nav-link" href="/ranks" style="padding:0;">
                <i class="material-icons" style="color:gray;padding:0 35px 0 35px;">emoji_events</i>
                <span class="nav-link" style="padding:0 25px 0 25px">Ranks</span>
              </a>
            </li>
            <li class="nav-item" style="padding-top:12px;">
              <a class="nav-link" href="/account" style="padding:0;width:100px;">
                <i class="material-icons" style="color:white;padding:0 35px 0 35px">account_circle</i>
                <span class="nav-link" style="padding:0 15px 0 15px;color:white;">Account</span>
              </a>
            </li>
        </ul>
      </nav>
      <div class="container">
      <div class="container" align="center" style="padding:0;">
        <div class="row">
          <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
            <div class="card card-signin margin">
              <div class="card-body">
      <h1 align="center" style="padding-top:10px;padding-bottom:10px;"><b><%= title %></b></h1>
      <div class="container" style="padding-top:0">
        <p align="center"><i class="material-icons" style="font-size:160px;" align="center">account_circle</i></p>
        <p>Name: <%= name %></p>
        <p>Email: <%= email %></p>
        <p>ASL: <%= asl %></p>
        <p>Zodiac Sign: <%= zodiac %></p>
        <p>Neopet: <%= neopet %></p>
        <p>Favorite Mixtape: <%= mixtape %></p>
        <% if (isLoggedIn) { %>
          <a href="/" class="btn btn-primary btn-width">Update your Info</a><br><br>
          <form method="post" action="/account">
            <input type="submit" value="Sign Out" class="btn btn-danger btn-width">
          </form>
        <% } else { %>
          <br>
          <a href="/login" class="btn btn-primary btn-width">Login to View your Account</a>
        <% } %>
      </div>
      </div>
  </body>
</html>
