<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
  </head>
  <body style="background-color:#0099FF">
    <div class="container" style="background-color:#FFFFFF;border-radius:25px">
      <h1 align="center"><b><%= title %></b></h1>
      <h2 align="center">May the CFB Gods be Forever in your favor</h2>
      <h3 style="text-decoration:underline" align="center">Week <%= week %></h3>
        <!-- <div align="center">
          <% schedule.forEach(function(game) { %>
            <h3><input style="width: 2em; height: 1em;" type="Radio" name="<%= game.count %>" value="<%= game.away %>"> <%= game.away %> at <%= game.home %> <input style="width: 2em; height: 1em;" type="Radio" name="<%= game.count %>" value="<%= game.home %>"></h3> <br />
          <% }); %>
        </div> -->
        <div class="container" align="center">
          <form method="post" action="/">
            <div align="center">
              <h6>Choose your Fighter</h6>
              <select name="contender">
                <option>Chase</option>
                <option>Drew</option>
                <option>Evan</option>
                <option>Hunter</option>
                <option>Shreve</option>
              </select>
            </div>
          <table class="table table-hover table-striped">
            <tr>
              <th><p align="center" style="margin:0">Away</p></th>
              <th><p align="center" style="margin:0">Matchup</p></th>
              <th><p align="center" style="margin:0">Home</p></th>
            </tr>
          <% schedule.forEach(function(game) { %>
            <tr>
              <td align="center"><input type="Radio" name="<%= game.count %>" value="<%= game.away %>" required></td> <td align="center"><%= game.away %> at <%= game.home %></td> <td align="center"><input type="Radio" name="<%= game.count %>" value="<%= game.home %>" required></td>
            </tr>
          <% }); %>
        </table><br>
        <input type="submit" value="Submit Those Picks Boi" class="btn btn-danger">
        </form>
        </div>
        <!-- <div align="center">
          <button class="btn btn-danger" type="submit" name="submit" id="submit" onClick="record_picks()"><h4>Submit Those Picks Boi</h4></button>
        </div> -->
      </div>
      <!-- <div class="container" align="center">
        <form method="post" action="/">
          <input type="text" name="user[name]">
          <input type="text" name="user[email]">
          <input type="submit" value="Submit">
        </form>
      </div> -->
  </body>
</html>
