<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
    <title>CFB PickEm</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
  </head>
  <body style="background-color:#000000;padding-top:0;padding-left:0;padding-right:0;">
    <div class="container" style="background-color:#FFFFFF;border-radius:0 0 25px 25px;padding:0;">
      <nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Make Picks</a>
            </li>
        </ul>
        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="/" style="font-size:25px;">CFB</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/view-picks">View Picks</a>
            </li>
        </ul>
      </nav>
      <h1 align="center" style="padding-top:10px;padding-left:0;padding-right:0;"><b><%= title %></b></h1>
        <div class="container" align="center">
              <h6 style="padding-left:12px;">Year&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Week</h6>
              <select name="year">
                <option>2019</option>
              </select>
              <select name="week">
                <% for(var i=1; i<=15; i++){ %>
                  <% if(i==week){ %>
                    <option selected><%= i %></option>
                  <% } else{ %>
                    <option><%= i %></option>
                  <% } %>
                <% } %>
              </select><br><br>
              <div class="table-responsive" style="padding:0 0 0 0">
              <table class="table table-hover table-striped thead-dark">
                <thead class="thead-dark">
                  <tr>
                    <th><p align="center" style="margin:0">Game<br>(Record)</p></th>
                    <th><p align="center" style="margin:0">Chase<br>(<%= chase_record.win %> - <%= chase_record.loss %>)</p></th>
                    <th><p align="center" style="margin:0">Drew<br>(<%= drew_record.win %> - <%= drew_record.loss %>)</p></th>
                    <th><p align="center" style="margin:0">Evan<br>(<%= evan_record.win %> - <%= evan_record.loss %>)</p></th>
                    <th><p align="center" style="margin:0">Hunter<br>(<%= hunter_record.win %> - <%= hunter_record.loss %>)</p></th>
                    <th><p align="center" style="margin:0">Shreve<br>(<%= shreve_record.win %> - <%= shreve_record.loss %>)</p></th>
                  </tr>
                </thead>
                <% winners.forEach(function(game) { %>
                  <tr>
                    <td align="center"><%= game.count %></td><td align="center"><%= chase_picks[game.count] %></td><td align="center"><%= drew_picks[game.count] %></td><td align="center"><%= evan_picks[game.count] %></td><td align="center"><%= hunter_picks[game.count] %></td><td align="center"><%= shreve_picks[game.count] %></td>
                  </tr>
                <% }); %>
              </table>
            </div>
        </div>
      </div>
  </body>
</html>
